node_modules/*
assets/*
coverage/*
styles/*
bin/*
dist/*
avaloo/*
einix/*
zazzio.compiled.js
webpack.development.js
webpack.release.js
Procfile
*.yml
.gitignore
*.md
*.log
*.html
*.json
yarn.lock
dist.zip
