@charset 'utf-8';

.btn-facebook {
  @include button-variant($white, $facebook-blue, $facebook-blue);
  color: $white;
}

.btn-musturd {
  @include button-variant($white, $brand-musturd, $brand-musturd);
  color: $white;
}

.btn-musturd-inverse {
  background: $white;
  border: 2px solid $brand-musturd;
  color: $brand-musturd;
}

.btn-link-button {
  padding: 1rem;
}

