@charset 'utf-8';

@import '../foundation/settings';
@import '../foundation/foundation';
@import '../foundation/foundation-icons';
@import '../motion-ui/motion-ui';

@include foundation-global-styles;
@include foundation-grid;
@include foundation-flex-grid;
@include foundation-typography;
@include foundation-forms;
@include foundation-button;
@include foundation-visibility-classes;

.text-align-left {
  text-align: left;
}
.text-align-right {
  text-align: right;
}
.text-align-center {
  text-align: center;
}