@charset 'utf-8';

// Core variables and mixins
@import 'variables';
@import '../bootstrap/mixins';

// Reset and dependencies
@import '../bootstrap/normalize';
@import '../bootstrap/print';

// Core CSS
@import '../bootstrap/reboot';
@import '../bootstrap/type';
@import '../bootstrap/images';
@import '../bootstrap/code';
@import '../bootstrap/grid';
@import '../bootstrap/tables';
@import '../bootstrap/forms';
@import '../bootstrap/buttons';
@import '../bootstrap/media';
@import '../bootstrap/utilities';
@import '../bootstrap/close';

.text-align-right {
  text-align: right;
}

.text-align-center {
  text-align: center;
}

$ddd: #ddd !default;
$aaa: #aaa !default;

.divider {
  color: $ddd;
  font-weight: 300;
  margin: .7em auto;
  overflow: hidden;
  text-align: center;
  width: 100%;

  &::before,
  &::after {
    border-bottom: 1px solid;
    content: '';
    display: inline-block;
    margin: 0 .5em 0 -55%;
    vertical-align: middle;
    width: 50%;
  }

  &::after {
    margin: 0 -55% 0 .5em;
  }
}
