@charset 'utf-8';

$opac-z-dark-blue: rgba($z-dark-blue, .5);
$opac-z-light-blue: rgba($z-light-blue, .5);
$opac-z-musturd: rgba($z-musturd, .9);
$opac-z-musturd-shade: rgba($z-musturd-shade, .9);

.home-search {
  padding: 30px 0 0;
  width: 100%;
}

.home-search-form {
  .button,
  .search-text {
    height: 50px;
  }

  .property-type-label {
    position: relative;

    .dropdown-pane {
      background: none;
      border-bottom: 0;
      padding: 0;
      width: 100%;
    }
  }
}

.home-search-banner-buy {
  background: url('../images/banner-buy.jpg') no-repeat $z-blue;
  background-position: center center;
}

.home-search-banner-rent {
  background: url('../images/banner-rent.jpg') no-repeat $z-blue;
  background-position: center center;
}

.home-search-banner-sell {
  background: url('../images/banner-sell.jpg') no-repeat $z-blue;
}

.search-tabs-panel-container {
  background: none;
  border: 0;
  margin-top: 30px;

  h1 {
    color: $white;
    text-shadow: 0 0 4px $aaa;
  }

  label {
    color: $white;
    font-size: .8rem;
  }
}

.search-form-container {
  background: $opac-z-dark-blue;
  margin: 30px auto 80px;
  padding: 20px 0;
}

.property-type-select {
  background: none;
  list-style: none;
  margin: 0;

  .option {
    background: $opac-z-musturd;
    border-bottom: 1px solid $white;
    font-size: 1rem;
    margin: 0;
    text-align: left;

    &:hover {
      background: $opac-z-musturd-shade;
    }

    input {
      display: none;
    }
  }

  .is-selected {
    background: $opac-z-musturd-shade;
  }
}

.search-tabs-titles {
  background: none;
  border: 0;
  list-style: none;

  li {
    border: 1px solid $white;
    float: left;
    width: 150px;

    a {
      background: $opac-z-dark-blue;
      color: $white;
      display: block;
      font-size: 1.2rem;
      line-height: 1;
      margin-bottom: 0;
      opacity: 1;
      padding: 15px;
    }

    &:hover {
      a {
        background: $opac-z-dark-blue;
        color: $white;
        font-size: 1.2rem;
        margin-bottom: 0;
        opacity: 1;
        padding: 15px;
      }
    }
  }

  .is-active {
    a {
      background: $opac-z-light-blue;
      color: $white;
      font-size: 1.2rem;
      margin-bottom: 0;
      opacity: 1;
      padding: 15px;
    }
  }
}


.search-text {
  font-size: map-get($button-sizes, large);
}

.search-type {
  font-size: 1rem;
}

.search-form-sub-label {
  background: $opac-z-dark-blue;
  height: 60px;
}

