@charset 'utf-8';

$opac-dark-blue: rgba($brand-dark-blue, .5);
$opac-light-blue: rgba($brand-light-blue, .5);
$opac-musturd: rgba($brand-musturd, .9);
$opac-musturd-shade: rgba($brand-musturd-shade, .9);

.home-search {
  height: 500px;
  padding: 30px 0 0;
  width: 100%;
}

.home-search-banner {
  background: url('../images/banner-rent.jpg') no-repeat;
  background-position: center center;
}

.home-search-banner-buy {
  background: url('../images/banner-buy.jpg') no-repeat;
  background-position: center center;
}

.home-search-banner-rent {
  background: url('../images/banner-rent.jpg') no-repeat;
  background-position: center center;
}

.home-search-banner-sell {
  background: url('../images/banner-sell.jpg') no-repeat;
}

.search-tabs {
  background: none;
  border: 0;
  list-style: none;

  .search-tab {
    border: 1px solid $white;
    float: left;
    margin-left: 0;
    text-align: center;
    width: 150px;

    a {
      background: $opac-dark-blue;
      color: $white;
      display: block;
      font-size: 1.2rem;
      line-height: 1;
      margin-bottom: 0;
      opacity: 1;
      padding: 15px;
    }

    &:hover {
      a {
        background: $opac-light-blue;
        color: $white;
        margin-bottom: 0;
        opacity: 1;
        padding: 15px;
      }
    }
  }

  .active {
    a {
      background: $opac-light-blue;
      color: $white;
      margin-bottom: 0;
      opacity: 1;
      padding: 15px;
    }
  }
}

.search-tabs-panel-container {
  background: none;
  border: 0;
  margin-top: 40px;

  h1 {
    color: $white;
    text-shadow: 0 0 4px $aaa;
  }

  label {
    color: $white;
    font-size: .8rem;
  }
}

.search-form-container {
  background: $opac-dark-blue;
  margin-top: 40px;
  padding: 10px 0;
}


