@charset 'utf-8';

.home-search {
  width: 100%;
  padding: 30px 0 0 0;
}
.home-search-banner-buy {
   background: url('../images/banner-buy.jpg') no-repeat #26425c;
   background-position: center center;
}
.home-search-banner-rent {
   background: url('../images/banner-rent.jpg') no-repeat #26425c;
   background-position: center center;
}
.home-search-banner-sell {
   background: url('../images/banner-sell.jpg') no-repeat #26425c;

}
.home-search .home-search-form .button,
.home-search .home-search-form .search-text {
  height: 50px;
}
.home-search .home-search-form .property-type-label {
  position: relative;
}
.home-search .home-search-form .property-type-label .dropdown-pane {
  width: 100%;
  padding: 0;
  background: none;
  border-bottom: none;
}
.home-search .home-search-form .property-type-label .dropdown-pane ul {
  margin: 0;
  list-style: none;
  background: none;
}
.home-search .home-search-form .property-type-label .dropdown-pane ul li label {
  margin: 0;
  border-bottom: 1px solid #fff;
  text-align: left;
  background: rgba(225, 122, 55, 0.9);
  font-size: 1rem;
}
.home-search .home-search-form .property-type-label .dropdown-pane ul li label:hover,
.home-search .home-search-form .property-type-label .dropdown-pane ul li .is-selected {
  background: rgba(195, 94, 29, 0.9);
}
.home-search .home-search-form .property-type-label .dropdown-pane ul li label input {
  display: none;
}
.home-search .search-tabs-panel-container {
  margin-top: 30px;
  border: none;
  background: none;
}
.home-search .search-tabs-panel-container h1 {
  color: #fff;
  text-shadow: 0 0 4px #aaa;
}
.home-search .search-tabs-panel-container .search-form-container {
  background: rgba(38, 66, 92, 0.5);
  padding: 20px 0 20px 0;
  margin: 30px auto 80px auto;
}
.home-search .search-tabs-panel-container label {
  color: #fff;
  font-size: .8rem;
}


.search-tabs-titles {
  background: none;
  border: none;
  list-style: none;
}
.search-tabs-titles li {
  width: 150px;
  border: 1px solid #fff;
  float: left;
}
.search-tabs-titles li a {
  color: #fff;
  font-size: 1.2rem;
  margin-bottom: 0;
  background: rgba(38, 66, 92, 0.5);
  opacity: 1;
  padding: 15px;
  display: block;
  line-height: 1;
}
.search-tabs-titles li:hover a,
.search-tabs-titles .is-active a {
  color: #fff;
  font-size: 1.2rem;
  margin-bottom: 0;
  background: rgba(142, 183, 207, 0.5);
  opacity: 1;
  padding: 15px;
}

.search-text, {
  font-size: map-get($button-sizes, large);
}
.search-type{
  font-size: 1rem;
}
.search-form-sub-label {
  background: rgba(38, 66, 92, 0.5);
  height: 60px;
}

