@charset 'utf-8';

body {
  background: $body-background;
  padding-top: 65px;
}

.navbar-main {
  background: $white;
  height: 65px;
  padding: 0;

  .nav-item {
    height: 65px;
    padding-right: 1rem;
    padding-top: .8rem;

    .nav-link {
      color: $brand-dark-blue;
    }

    &.nav-item-search-form {
      margin-left: 0;
    }
  }

  .navbar-brand {
    margin-left: 1rem;
    margin-right: 0;

    img {
      height: 30px;
    }
  }

  .nav-icon {
    font-size: 1.5em;
  }

  .nav-item-separator {
    border-right: 1px solid $ddd;
    padding-right: 1rem;
  }

  .nav-item-margin-1 {
    margin-right: 1rem;
  }

  .nav-item-padding-2 {
    padding-right: 2rem;
  }

  .search-form {
    .input-group-addon {
      background: none;
      border: 0;
      padding-right: 0;

      i {
        font-size: 1.5em;
      }
    }

    .search-text-md {
      border: 0;
      height: 2.5rem;
      width: 290px;
    }

    .search-text-lg {
      border: 0;
      height: 2.5rem;
      width: 400px;
    }
  }

  .search-form-sm {
    left: 90px;
    position: absolute;
    right: 140px;
    top: 0;

    .search-text-sm {
      border: 0;
      left: 35px;
      position: absolute;
      right: 120px;
      top: 1rem;
    }

    .input-group-addon {
      left: 0;
      position: absolute;
      top: .8rem;
    }
  }

  .btn-search-xs-container {
    left: 110px;
    position: absolute;
    right: 95px;
    top: 1rem;
  }

  .btn-search-xs {
    background: $white;
    border: 1px solid $brand-dark-blue;
    color: $brand-dark-blue;
    position: absolute;
    width: 100%;
  }

  .navbar-right-md {
    margin-right: 10px;

    .nav-item {
      padding-left: 0;
      padding-right: 0;
    }
  }

  .menu-toggler {
    color: $brand-dark-blue;
    margin-top: 1rem;
  }

  .navbar-menu-collapse {
    margin-top: 65px;

    .nav-item {
      background: $opac-dark-blue-5;
      border-top: 1px solid $ddd;
      padding: 1rem;

      &:hover {
        background: $opac-dark-blue-7;
      }

      a {
        color: $white;
        display: block;
      }
    }
  }
}
