@charset 'utf-8';

.login-modal-tabs {
  li {
    border-right: 1px solid $white;
    margin-left: 0;
    width: 100px;
  }

  a {
    &:not([href]) {
      background: $brand-light-blue;
      color: $white;
      display: block;
      font-size: .8rem;
      padding: 15px;
      text-align: center;
    }

    &:hover {
      background: $brand-blue;
      color: $white;

      &:not([href]) {
        color: $white;
      }
    }

    &.active {
      background: $brand-blue;
    }
  }

  &.nav-tabs {
    .nav-item {
      margin-left: 0;
    }
  }
}

.login-modal-tabs-content {
  .section-regular-login {
    padding: 3rem 0 0;

    input {
      font-size: 1rem;
      height: 50px;
    }

    .btn {
      &.btn-login {
        height: 50px;
        margin: 0;
        width: 100%;
      }
    }

    .login-error {
      margin-bottom: 5px;
    }
  }

  .section-facebook-login {
    padding-left: 1rem;
    padding-right: 1rem;

    .btn {
      &.btn-login-facebook {
        background: $facebook-blue;
        color: $white;
        height: 50px;
        margin: 0;
        width: 100%;
      }
    }
  }

  .section-register {
    padding: 0 1rem;
  }

  .section-regular-sign-up {
    padding: 3rem 0 0;

    .col-btn-sign-up {
      margin-top: .7rem;
    }

    input {
      font-size: 1rem;
      height: 50px;
    }

    .btn {
      &.btn-sign-up {
        height: 50px;
        margin: 0;
        margin-bottom: 1rem;
        width: 100%;
      }
    }

    .sign-up-terms {
      font-size: .7em;
    }
  }

  .section-facebook-sign-up {
    padding-left: 1rem;
    padding-right: 1rem;

    .btn {
      &.btn-signup-facebook {
        background: $facebook-blue;
        color: $white;
        height: 50px;
        margin: 0;
        width: 100%;
      }
    }
  }

  .error-span-container {
    height: 1rem;
  }

  .error-span {
    font-size: .7em;
  }

  .link-span {
    font-size: 1em;
  }

  .link {
    color: $link-color;

    &:hover {
      color: $link-hover-color;
    }
  }
}
