@charset 'utf-8';

.login-modal-tabs {
  border-left: 0;
  border-right: 0;
  border-top: 0;

  li {
    border-right: 1px solid $white;
    width: 100px;

    a {
      background: $z-light-blue;
      color: $white;
      display: block;
      font-size: .8rem;
      padding: 15px;
      text-align: center;
    }

    &:hover {
      a {
        background: $z-blue;
      }
    }
  }

  .is-active {
    a {
      background: $z-blue;
    }
  }
}

.login-modal-tabs-content {
  border: 0;
  padding: 20px 0 10px;

  .tabs-panel {
    padding: 0;
  }
}

.modal-login-button {
  margin-top: 5px;
}

.section-register {
  border-top: 1px solid $ddd;
  padding-top: 20px;
}

.login-facebook-icon {
  font-size: 20px;
  margin: 0 10px 0 0;
}

.divider {
  color: $ddd;
  font-weight: 300;
  margin: .7em auto;
  overflow: hidden;
  text-align: center;
  width: 100%;

  &::before,
  &::after {
    border-bottom: 1px solid;
    content: '';
    display: inline-block;
    margin: 0 .5em 0 -55%;
    vertical-align: middle;
    width: 50%;
  }

  &::after {
    margin: 0 -55% 0 .5em;
  }
}

.tabs-content {
  span {
    color: $aaa;
    display: inline-block;
    vertical-align: middle;
  }
}
