@charset 'utf-8';

.login-modal-tabs-content {

  .link-span-confirm,
  .link-span-login {
    font-weight: 600;
  }

  .divider {
    padding: 0 2rem;
  }

  .section-regular-login {

    .login-error {
      margin-bottom: 5px;
    }
  }

  .section-facebook-login {
    padding-top: 2rem;
  }

  .section-register {
    padding: 0 1rem;
  }

  .section-regular-sign-up {
    .col-btn-sign-up {
      margin-top: .7rem;
      padding: 0 1rem;
    }

    .btn-sign-up {
      margin-bottom: 1rem;
    }

    .sign-up-terms {
      font-size: .7em;
    }
  }

  .section-regular-sign-up-complete {
    padding: 2rem 1rem 1rem;
  }

  .section-facebook-sign-up {
    padding-top: 2rem;
  }
}
