@charset 'utf-8';

.navbar-main {
  background: $white;
  border-bottom: 1px solid $ddd;
  height: 56px;
  padding: 0;

  .nav-item {
    height: 56px;
    padding-right: 1rem;
    padding-top: .5rem;

    .nav-link {
      color: $brand-z-primary;

      &.nav-list-property {
        border: 2px solid $brand-musturd;
        color: $brand-musturd;
        font-size: .8em;
        font-weight: 600;
        margin-top: .1rem;
        padding-left: .5rem;
        padding-right: .5rem;

        &:hover {
          background: $brand-musturd;
          color: $white;
        }
      }
    }

    &.nav-item-search-form {
      margin-left: 0;
    }
  }

  .navbar-brand {
    border-right: 1px solid $ddd;
    height: 100%;
    padding: .5rem 1rem;

    img {
      height: 40px;
    }
  }

  .nav-icon {
    color: $brand-z-primary;
    font-size: 1.5em;
  }

  .nav-item-separator {
    border-right: 1px solid $ddd;
  }

  .dropdown-menu-right {
    .dropdown-item-profile {
      color: $brand-musturd;
      font-weight: 700;

      span {
        display: block;
        font-weight: 200;
      }
    }
  }

  .search-form {
    .input-group-addon {
      background: none;
      border: 0;
      padding-right: 0;

      i {
        font-size: 1.5em;
      }
    }

    .search-text-md {
      border: 0;
      font-size: .9em;
      height: 2.5rem;
      width: 350px;
    }

    .search-text-lg {
      border: 0;
      font-size: .9em;
      height: 2.5rem;
      width: 275px;
    }
  }

  .search-form-sm {
    left: 75px;
    position: absolute;
    right: 125px;
    top: 0;

    .search-text-sm {
      border: 0;
      font-size: .9em;
      left: 35px;
      position: absolute;
      right: 12px;
    }

    .input-group-addon {
      left: 0;
      position: absolute;
      top: .5rem;
    }
  }

  .btn-search-xs-container {
    left: 90px;
    position: absolute;
    right: 95px;
    top: .5rem;
  }

  .btn-search-xs {
    background: $white;
    border: 1px solid $ddd;
    color: $brand-z-primary;
    height: auto;
    position: absolute;
    width: 100%;
  }

  .dropdown-menu {
    margin-top: 0;
  }

  .navbar-right {
    .nav-profile-photo {
      border: 1px solid $aaa;
      border-radius: 1000px;
      height: 33px;
      margin-right: 10px;
      width: 33px;
    }
  }

  .navbar-right-md {
    margin-right: 10px;

    .nav-item {
      padding-left: 0;
      padding-right: 0;
    }
  }

  .navbar-right-sm {
    .nav-item {
      margin-left: 0;
      margin-right: 0;
      padding-left: 0;
      padding-right: 0;
    }
  }

  .menu-toggler {
    color: $brand-z-primary;
  }

  .navbar-menu-collapse {
    margin-top: 56px;

    .nav-item {
      @include button-variant($brand-z-primary, $brand-z-primary, $white);
      border-top: 1px solid $ddd;
      padding: 1rem;

      a {
        color: $white;
        display: block;
      }
    }
  }
}

