@charset 'utf-8';

.navbar-main {
  background: $white;
  border-bottom: 1px solid $navbar-border-bottom;
  height: 56px;
  padding: 0;

  .nav-item {
    height: 56px;
    padding-top: .5rem;

    .nav-link {
      color: $brand-z-primary;
      height: 100%;
      padding-left: 1rem;
      padding-right: 1rem;
    }

    &.nav-item-search-form {
      margin-left: 0;
    }

    &+.nav-item {
      margin-left: 0;
    }

    &.open,
    &:hover {
      background: $navbar-hover;
    }

    &.nav-item-list-property {
      a {
        border: 2px solid $brand-musturd;
        color: $brand-musturd;
        font-size: .8em;
        height: auto;
        margin-left: 1rem;
        margin-right: 1rem;
        margin-top: .1rem;
        padding-left: 1rem;
        padding-right: 1rem;

        &:hover {
          background: $brand-musturd;
          color: $white;
        }
      }

      &:hover {
        background: $white;
      }
    }
  }

  .navbar-brand {
    border-right: 1px solid $navbar-border;
    height: 100%;
    margin-right: 0;
    padding: .5rem 1rem;

    img {
      height: 40px;
    }
  }

  .nav-icon {
    color: $brand-z-primary;
    font-size: 1.5em;
  }

  .nav-item-separator {
    border-right: 1px solid $navbar-border;
  }

  .dropdown-menu-right {
    .dropdown-item-profile {
      color: $brand-musturd;

      span {
        display: block;
      }
    }

    .dropdown-item-list-property {
      span {
        border: 2px solid $brand-musturd;
        color: $brand-musturd;
        font-size: .8em;
        padding: .5rem 1rem;
        text-align: center;

        &:hover {
          background: $brand-musturd;
          color: $white;
        }
      }
    }
  }

  .btn-search-xs-container {
    display: none;
    left: 90px;
    position: absolute;
    right: 90px;
    top: .5rem;
  }

  .btn-search-xs {
    background: $white;
    border: 1px solid $navbar-border;
    color: $brand-z-primary;
    height: auto;
    position: absolute;
    width: 100%;
  }

  .search-form {
    display: none;

    .input-group-addon {
      background: none;
      border: 0;
      padding-right: 0;

      i {
        font-size: 1.5em;
      }
    }

    .search-text {
      border: 0;
      font-size: .9rem;
      height: 2.5rem;
    }
  }

  .search-form-sm {
    left: 75px;
    position: absolute;
    right: 125px;
    top: .5rem;
  }

  .search-form-md {
    left: 260px;
    position: absolute;
    right: 290px;
    top: .5rem;
  }

  .search-form-lg {
    left: 260px;
    position: absolute;
    right: 380px;
    top: .5rem;
  }

  .dropdown-menu {
    margin-top: 0;
  }

  .navbar-right {

    .nav-link-profile-photo {
      padding-top: .2rem;
    }

    .nav-profile-photo {
      border-radius: 1000px;
      height: 33px;
      width: 33px;
    }

    .dropdown-toggle {
      &::after {
        display: none;
      }
    }
  }

  .navbar-right-sm {
    .nav-item {
      margin-left: 0;
      margin-right: 0;
      padding-left: 0;
      padding-right: 0;
    }
  }

  .menu-toggler {
    color: $brand-z-primary;
  }

  .navbar-menu-collapse {
    margin-top: 56px;

    .nav-item {
      @include button-variant($brand-z-primary, $brand-z-primary, $white);
      border-top: 1px solid $navbar-border;
      padding: 1rem;

      a {
        color: $white;
        display: block;
      }
    }
  }
}

