// misc
.hidden {
  display: none;
}

// padding
.padding-0 {
  padding: 0;
}

// divider
.divider {
  color: $divider-color;
  font-weight: 300;
  margin: .7em auto;
  overflow: hidden;
  text-align: center;
  width: 100%;

  &::before,
  &::after {
    border-bottom: 1px solid;
    content: '';
    display: inline-block;
    margin: 0 .5em 0 -55%;
    vertical-align: middle;
    width: 50%;
  }

  &::after {
    margin: 0 -55% 0 .5em;
  }

  &.plain {
    &::before {
      margin: 0;
    }

    &::after {
      margin: 0;
    }
  }
}

// form error
.error-span-container {
  min-height: 1rem;
}

.error-span {
  font-size: .8em;
}

// span with link
.link-span {
  font-size: 1em;
}

.link {
  color: $link-color;

  &:hover {
    color: $link-hover-color;
  }
}

// borders
.border-right-0 {
  border-right: 0;
}

// loader
@mixin loading-spinner($spinner-color, $spinner-back-color, $back-drop-color) {
  background: $back-drop-color;
  bottom: 0;
  left: 0;
  padding-top: 40%;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 1;

  .spinner {
    animation: spin 2s linear infinite;
    border: 5px solid $spinner-back-color;
    border-radius: 50%;
    border-top: 5px solid $spinner-color;
    height: 20px;
    margin: auto;
    width: 20px;
  }

  .progress {
    font-size: .6em;
    height: 20px;
    margin: auto;
    width: 20px;
  }

  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
}
