@charset 'utf-8';

.btn {
  color: $btn-color;
  height: $btn-height;
}

input {
  &[type='text'],
  &[type='password'] {
    &.form-control {
      font-size: $input-text-font-size;
      height: $input-text-height;
    }
  }
}

label {
  padding-top: 15px;
}
