@charset 'utf-8';

// Buttons
$btn-height:              55px !default;
$btn-color:               #fff !default;

// Input
$input-text-height:       55px !default;
$input-text-font-size:    1.2em !default;
